{% extends './base.html' %}

{% block title %}RICKS{% endblock %}

{% block contents %}

<img src="/images/PF.jpeg" width="250" height="250" class="imgcenter">

<div class="aboutRicks">
    <h1>RICARDO VALENCIA</h1>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <p class="title">Estudiante de Ingeniería de Negocios</p>
                <pre><em>Joven líder que cree que todos y cada uno de nosotros tenemos
una responsabilidad mayor de ayudar a nuestra comunidad. Busco
constantemente ampliar mi perspectiva sobre todo lo que conozco
mediante nuevas experiencias.</em></pre>
                <pre>20205728@esen.edu.sv       +503-7940-9084</pre>
                <a href="https://github.com/rjvalenciag">GitHub</a>
            </div>
        </div>
    </div>
</div>




{% endblock %}