<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">HOME</a>
                <a class="nav-item nav-link" href="#">STATS</a>
                <a class="nav-item nav-link" href="#">ABOUT</a>
                <a class="nav-item nav-link" href="#">CONTACT</a>
                <a class="nav-item nav-link" href="#">SOCIAL</a>
            </div>
        </div>
    </nav>

    {% block contents %}{% endblock %}
</body>

</html>